# Ignore everything

 
# But not these files...
!.gitignore
!README.md 
/FeatherWebserverClient/*
!/FeatherWebserverClient/FeatherWebserverClient.ino
.vs/VSWorkspaceState.json
.vs/VKF_Hagelschutz_API_M0/v15/.suo
.vs/slnx.sqlite
.vs/ProjectSettings.json
